@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0f0e17;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6a4aca;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 28px 20px 58px rgba(0, 0, 0, 0.2);
}

#left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 25rem;
  height: 25rem;
}
#in {
  display: flex;
  flex-direction: column;
}

p {
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  font-size: 25px;
  padding: 60px 0;
  font-weight: 800;
}


#text {
  margin-bottom: 30px;
  font-size: large;
  padding: 5px 25px 0 10px;
  font-weight: 600;
  letter-spacing: 1px;
}
input {
  outline: 2px solid #ffffff;
  border: 0 outset;
  height: 2.3rem;
  border-radius: 5px;
}
input::placeholder {
  font-weight: 500;
  font-size: large;
  color: #c2c2c2;
}

i {
  margin-right: 8px;
  font-weight: 700;
}

button {
  padding: 5px 0;
  border: none;
  color: #7f5af0;
  border-radius: 5px;
  background: #ffffff;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}
button:hover {
  background: #000000;
  color: #7f5af0;
}


a {
    padding: 1px 0;
    border: none;
    color: #7f5af0;
    border-radius: 5px;
    background: #ffffff;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    text-align: center;
  }
a:hover{
    background: #000000;
    color: #7f5af0;
}

#right {
  background: #7f5af0;
  width: 25rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image {
  width: 310px;
  height: 310px;
  background: black;
  border-radius: 7px;
}
img {
  border: rgb(255, 255, 255) 5px solid;
  border-radius: 7px;
}
